* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menus{
    display: flex;
    justify-content: space-around;
}

.menu_externo ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu_interno ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header {
    display: flex;
    width: 100%;
    background-color: blueviolet;
    padding: 1rem;
    position: relative;
    justify-content: center;

}